<div class="container-fluid">
  <app-page-title title="Subject Choice"></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      
      <div class="completed-subject-list">
        <div class="row">
          <div class="col-lg-12">
            <div class="card">
              <div class="card-body">
                <h4 class="card-title mb-2">Subject Choice</h4>
                <div class="subject-choice">
                  <div class="row">
                    <div class="col-md-4">
                      <div class="table-responsive mb-0">
                        <table class="table table-centered table-nowrap">
                          <thead>
                            <tr>
                              <th>Mandatory Subject</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <table style="width:100%" class="no">
                                  <tr *ngFor="let subject of lstMandetorySubject">
                                    <td>
                                      <div class="form-check mb-2">
                                        <input class="form-check-input mt-2" name="{{subject.subjeceId}}" [(ngModel)]="selectedSubject.mandantorySubject.isChecked" type="checkbox" (change)="changeMandatorySubject()"  id="{{subject.subjeceId}}">
                                        <label class="form-check-label" for="{{subject.subjeceId}}">
                                          {{subject.subjectName}}
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                  
                                  
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="table-responsive mb-0">
                        <table class="table table-centered table-nowrap">
                          <thead>
                            <tr>
                              <th>Optional Subject</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                                <table style="width:100%" class="no">
                                  <tr *ngFor="let subject of lstOptionalSubject">
                                    <td>
                                      <div class="form-check">
                                        <input class="form-check-input mt-2" type="radio" name="formRadiosRight" [(ngModel)]="selectedSubject.optionalSubject.subjeceId"
                                          id="{{selectedSubject.optionalSubject.subjeceId}}">
                                        <label class="form-check-label" for="{{selectedSubject.optionalSubject.subjeceId}}">
                                          {{subject.subjectName}}
                                        </label>
                                      </div>
                                    </td>
                                  </tr>
                                                                   
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-8">
                      <div class="text-end">
                        <button class="btn btn-info" (click)="save()" >Submit</button>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end table -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>