<div class="container-fluid">
  <app-page-title title="Subject Choice"></app-page-title>
  <div class="row">
    <div class="col-lg-12">
      <div class="completed-subject-list">
        <div class="row">
          <div class="col-lg-12">
              <div class="card">
                  <div class="card-body">
                      <h4 class="card-title mb-2">Completed Course</h4>
                      <div class="table-responsive mb-0">
                        <table class="table table-centered table-nowrap">
                          <thead class="table-light">
                            <tr>
                              <th class="align-middle">SN</th>
                              <th class="align-middle">Class</th>
                              <th class="align-middle">Subject Name</th>
                              <th class="align-middle">Subject Code</th>
                              <th class="align-middle">Total Mark</th>
                              <th class="align-middle">Pass Mark</th>
                              <th class="align-middle">Result Mark</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Eleven</td>
                              <td>Bangla 1st Paper</td>
                              <td class="align-middle">101</td>
                              <td class="align-middle">100</td>
                              <td class="align-middle">33</td>
                              <td class="align-middle">65</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Eleven</td>
                              <td>Bangla 2nd Paper</td>
                              <td class="align-middle">102</td>
                              <td class="align-middle">100</td>
                              <td class="align-middle">33</td>
                              <td class="align-middle">62</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Eleven</td>
                              <td>English 1st Paper</td>
                              <td class="align-middle">103</td>
                              <td class="align-middle">100</td>
                              <td class="align-middle">33</td>
                              <td class="align-middle">75</td>
                            </tr>
                            <tr>
                              <td>1</td>
                              <td>Eleven</td>
                              <td>English 2nd Paper</td>
                              <td class="align-middle">104</td>
                              <td class="align-middle">100</td>
                              <td class="align-middle">33</td>
                              <td class="align-middle">79</td>
                            </tr>
                          </tbody>
                        </table>
                      
                      </div>
                      <!-- end table -->
                  </div>
              </div>
          </div>
      </div>
      </div>
    </div>
  </div>
</div>