<header>
  <div class="py-5 text-center">
    <img src="../../../../assets/images/theme/logo.png" alt="">
    <h2>Student Software Subscription</h2>

  </div>
</header>

<main>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="my-5 pt-5 text-muted text-center text-small">
  <!-- <p class="mb-1">&copy; 2024 Web Support BD</p> -->
  <ul class="list-inline">
    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
    <li class="list-inline-item"><a href="#">Terms and Condition</a></li>
    <li class="list-inline-item"><a href="#">Refund Policy</a></li>
  </ul>
</footer>