<div class="container-fluid">
  <app-page-title title="User List"></app-page-title>
  <div class="row">
    <div class="col-md-12">
      <div class="text-end">
        <button class="btn btn-info" *ngIf=""><i class="fa fa-print"></i> Print Invoice</button>
        <button class="btn btn-info ms-2"><i class="fa fa-print"></i> Print List</button>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    
    <div class="col-md-12">
      <ag-grid-angular style="width: 100%; height: 75vh;" class="ag-theme-alpine" [rowData]="lstPayment"
        [columnDefs]="columnDefs" [gridOptions]="gridOptions" (selectionChanged)="onSelect()"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>