<!-- ==========Country Add Modal======== -->

<ng-template #viewNoticeModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Notice Invoice</h4>
  </div>
  <div class="modal-body">
    <main style="margin: 0 auto; padding: 10px;background-color: #fff;" id="printSection">
      <div class="Notice-info-section">
        
      </div>
    </main>
  </div>
  <div class="modal-footer">

    <button type="button" class="btn btn-danger" (click)="modalClose()"><i class="fas fa-times"></i>
      Close</button>
    <button type="button" class="btn btn-info" onclick="portraitPrintHTML('printSection')"><i class="fas fa-print"></i>
      Print Invoice</button>
  </div>
</ng-template>

<div class="container-fluid">
  <app-page-title title="Notice List"></app-page-title>
  <div class="row">
    <div class="col-md-12">
      <div class="text-end">
        <button class="btn btn-info" (click)="viewNotice()"><i class="fa fa-print"></i>
          Print Invoice</button>
        <!-- <button class="btn btn-info ms-2"><i class="fa fa-print"></i> Print List</button> -->
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <ag-grid-angular style="width: 100%; height: 75vh;" class="ag-theme-alpine" [rowData]="lstNotice"
        [columnDefs]="columnDefs" [gridOptions]="gridOptions" (selectionChanged)="onSelect()"
        (gridReady)="onGridReady($event)">
      </ag-grid-angular>
    </div>
  </div>
</div>